::placeholder {
    color: white;
}
.container-fluid {
    background-image:  url("./images/cloudy.jpg");
    padding: 0px;
background-size: cover;
}
.main-template {
    padding: 0px;
}
.date {
    text-align: center;
    background-color: grey;
    opacity: .7;
    position: relative;
    left: 1%;
}
.left-column {
    color: white;
    height: 38em;
}
.right-column {
    color: white;
    height: 38em;
    background-color: #687980;
    opacity: .7;
}
.left-column-row {
    position: relative;
    top: 60%;
}
.left-column > .row > div{
}
.temperature {
    font-size: 30px;
    font-weight: bold;
    position: relative;
      top: -1em;
}
.weather-location {
 font-size: 20px;
 position: relative;
 top: -.5em;
}
.weather-condition {
    font-size: 20px;
    position: relative;
    top: -.5em;
}
.search-city {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    width: 80%;
    margin-left: 1em;
    height: 20px;
}
.getWeather {
    color: #fff;
    height: 20px ;
    background: none;
    border: none;
    font-weight: bold;

}
.location: {
    position: relative;
    top: -5%;
}
.weather-details {
    position: relative;
    top: -12%;
    margin-bottom: -20px;
    /* padding-bottom: ; */
}

.weather-details-header {
    border-top: 1px solid white;
    padding-bottom: 0px;
    margin-top: 2em;
    padding-left: 6%;
    position: relative;
    right: 3%;
}
