::placeholder {
    color: white;
}
.container-fluid {
    background-image:  url("./images/cloudy.jpg");
    padding: 0px;
background-size: cover;
}
.main-template {
    padding: 0px;
}
.date {
    text-align: center;
    background-color: grey;
    opacity: .7;
    position: relative;
    left: 1%;
}
.left-column {
    color: white;
    height: 38em;
}
.right-column {
    color: white;
    background-color: #687980;
    opacity: .7;
}
.left-column {
    margin: 0px;
}
.left-column-upper >div  {
    padding: 0px;
 margin: 0px;
}
.left-column-lower {
    position: relative;
    top: 50%;
}
.left-column > .row > div{
}
.temperature {
    font-size: 30px;
    font-weight: bold;
    position: relative;
      top: -1em;
      text-align: center;
}
.weather-location {
 font-size: 20px;
 position: relative;
 top: -.5em;
 text-align: center;
}
.weather-condition {
    font-size: 20px;
    position: relative;
    top: -.5em;
    text-align: center;
}
.search-city {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    width: 80%;
    margin-left: 1em;
    height: 20px;
}
.getWeather {
    color: #fff;
    height: 20px ;
    background: none;
    border: none;
    font-weight: bold;
}
